<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
          <div id="types_table" class="body_column one_hundred">
            <div class="column_header">Listing Messages</div>
            <div class="body_column_content">

<table>
  <thead>
    <tr>
      <th>Member to</th>
      <th>Member from</th>
      <th>Message</th>
      <th>Parent</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.member_to.full_name unless message.member_to == nil %></td>
        <td><%= message.member_from.full_name unless message.member_from == nil %></td>
        <td><%= message.content %></td>
        <td><%= message.parent.id unless !message.parent %></td>
        
        <td><%= link_to '', edit_message_path(message), 
        	class: "fa fa-pencil", alt: "Edit message", title: "Edit message" %></td>
        <td><%= link_to '', message, method: :delete, 
        	class: "fa fa-times", alt: "Delete message", title: "Delete message",
        	data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path, class: "new_button" %>

            </div>
          </div>

