<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="note_content_div" class="field">
    <strong><%= f.label "Add note" %></strong><br>
    <div class="note_content_textarea">
    <%= f.text_area :content, rows: 5 %>
    <%= f.hidden_field :member_from_id, value: @current_user.id %>
    <%= f.hidden_field :member_to_id %>
    </div>
  	<div class="actions">
      <%= button_tag "✓ Save", name: "save_note" %>
      <%= button_tag "X Clear", type: :reset, id: "new_note_reset" %>
    </div>
  </div>
  <div id="note_type" class="field form_inline">
  	<strong><%= f.label "Select type" %></strong><br />
    <%= collection_radio_buttons(:note, 
    							 :note_type_id, 
    							 NoteType.all, 
    							 :id, 
    							 :icon_and_text) do |b|
	%>
		<div class="note_type_buttons"><%= b.label { b.radio_button + " " + b.text } %></div>
	<% end %>
  </div>
<% end %>
