<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Note type:</strong>
  <%= @note.note_type %>
</p>

<p>
  <strong>Member from:</strong>
  <%= @note.member_from %>
</p>

<p>
  <strong>Member to:</strong>
  <%= @note.member_to %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
