<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting_type.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @meeting_type.icon %>
</p>

<p>
  <strong>Default color:</strong>
  <%= @meeting_type.default_color %>
</p>

<%= link_to 'Edit', edit_meeting_type_path(@meeting_type) %> |
<%= link_to 'Back', meeting_types_path %>
