<%= form_for(@cruise_line) do |f| %>
  <% if @cruise_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cruise_line.errors.count, "error") %> prohibited this cruise_line from being saved:</h2>

      <ul>
      <% @cruise_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short_name %><br>
    <%= f.text_field :short_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
