<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
          <div id="types_table" class="body_column one_hundred">
            <div class="column_header">
            	Listing Airports
            </div>
            <div class="body_column_content" id="availability_types_form">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cruise_lines.each do |cruise_line| %>
      <tr>
        <td><%= cruise_line.name %></td>
        <td><%= cruise_line.short_name %></td>
        <td><%= link_to 'Show', cruise_line %></td>
        <td><%= link_to 'Edit', edit_cruise_line_path(cruise_line) %></td>
        <td><%= link_to 'Destroy', cruise_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cruise line', new_cruise_line_path %>

</div></div>
