<p id="notice"><%= notice %></p>

<p>
  <strong>Chair:</strong>
  <%= @gig.chair %>
</p>

<p>
  <strong>Room:</strong>
  <%= @gig.room %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @gig.rank %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @gig.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @gig.end_date %>
</p>

<p>
  <strong>Job number:</strong>
  <%= @gig.job_number %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
