<%= form_for(@availability) do |f| %>
  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="start_end_date">
	  <div class="field start_date">  	
	    <%= f.label :start_date %><br>
		<%= f.text_field :start_date %><i class="fa fa-calendar text_field_addon"></i>
	  </div>
	  <div class="field end_date">
	    <%= f.label :end_date %><br>
		<%= f.text_field :end_date %><i class="fa fa-calendar text_field_addon"></i>
	  </div>
  </div>
  <div class="field comment">
  	<%= f.hidden_field :member_id %>
  	<%= f.hidden_field :creator_id %>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="one_hundred">
	  <div class="field button_group">
	    <%= f.label :availability_type_id %><br>
	    <%= f.hidden_field :availability_type_id %>
	    <% AvailabilityType.all.each do |a| %>
	    	<a id="<%= a.id %>" 
	    		class="availability_type_button" 
	    		style="background: <%= a.default_color %>;">
	    		<i class="<%= a.icon %>"></i><%= a.name %>
			</a>
	    <% end %>
	  </div>
  </div>
  <div class="actions">
    <!--%= f.submit %-->
  </div>
<% end %>
<script>
	$('#new_availability .start_date input').datepicker({
		format: 'yyyy/mm/dd'
	});
	$('#new_availability .end_date input').datepicker({
		format: 'yyyy/mm/dd',
	});
</script>
