<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @availability.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @availability.end_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @availability.comment %>
</p>

<p>
  <strong>Availability type:</strong>
  <%= @availability.availability_type %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
