<!DOCTYPE html>
<html>
<head>
  <title>Test1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<html>
<head>
  <!--
    section headers: #303b49
    section bodies: #e5e6e7
    section buttons grey: #75808b
    section buttons blue: #23cae4
    right column buttons: #0f6597
    right column evaluation dark blue: #08325b
    right column medium blue: #0d5181
    right column light blue: #1a7596
    evaluation numbers: #44acc9

  -->
<body>
  <div id="main">
    <div id="header">
      <div id="head_logo">
        OMRS 7.0
      </div>
      <div id="head_back_btn">
      	<% if defined? @back_link %>
        <%= link_to '<', @back_link %>
        <% else %>
        &lt;
        <% end %>
      </div>
      <div id="head_menu">
      </div>
    </div>
    <div id="body">
      <div id="body_left_col">
        <div class="body_column one_hundred">
          <div class="left_title">More results</div>
          <div class="left_title_underline"><img src="left_col_underline.png"/></div>
          <div>
            <ol>
              <li>Essentials</li>
              <li>Notes</li>
              <li>Evaluation</li>
            </ol>
          </div>
        </div>
        <div class="body_column one_hundred">
          <div class="left_title">Quick links</div>
          <div class="left_title_underline"><img src="left_col_underline.png"/></div>
          <div>
            <ul>
              <li>Essentials</li>
              <li>Notes</li>
              <li>Evaluation</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="body_main_col">
        <div id="body_center_col">
<%= yield %>
        </div>
        <div id="body_right_col">
          <div class="right_col_btn"></div>
          <div class="right_col_btn"></div>
          <div class="right_col_btn"></div>
          <div id="right_evaluation" class="body_column one_hundred">
            <div class="column_header">Evaluation</div>
            <div class="body_column_content"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<html>

