
<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  		<div class="form_group">
  			<div id="member_bio" class="member_form_section">
			  <div class="field">
			    <%= f.label :first_name %><br>
			    <%= f.text_field :first_name %>
			  </div>
			  <div class="field">
			    <%= f.label :last_name %><br>
			    <%= f.text_field :last_name %>
			  </div>
			  <div class="field">
			    <%= f.label :pronunciation %><br>
			    <%= f.text_field :pronounce %>
			  </div>
			  <div class="field">
			    <%= f.label :birthday %><br>
			    <%= f.date_select :birthday, :start_year=>1900 %>
			  </div>
			</div>
			<div id="member_contact" class="member_form_section">
			  <div class="field">
			    <%= f.label :email %><br>
			    <%= f.text_field :email %>
			  </div>
			  <div class="field">
			    <%= f.label :password %><br>
			    <%= f.password_field :password %>
			  </div>
			  <div class="field">
			    <%= f.label :main_phone %><br>
			    <%= f.text_field :main_phone %>
			  </div>
			  <div class="field">
			    <%= f.label :main_mobile %><br>
			    <%= f.text_field :main_mobile %>
			  </div>
			</div>
		</div>
  		<div class="form_group">
			<div id="member_location" class="member_form_section">
			  <div class="field">
			    <%= f.label :address %><br>
			    <%= f.text_field :address %>
			  </div>
			  <div class="field">
			    <%= f.label :city %><br>
			    <%= f.text_field :city %>
			  </div>
			  <div class="field">
			    <%= f.label :state_prov %><br>
			    <%= f.text_field :state_prov_id,
			    	value:  (@member.state_prov.name unless @member.state_prov == nil) %>
			    <div class="results" id="state-search-results"></div>
			  </div>
			  <div class="field">
			    <%= f.label :country %><br>
			    <%= f.text_field :country_id, 
			    	value: (@member.country.name unless @member.country == nil) %>
			    <div class="results" id="country-search-results"></div>
			  </div>
			  <div class="field">
			    <%= f.label :zip_post %><br>
			    <%= f.text_field :zip_post %>
			  </div>
			  <div class="field">
			    <%= f.label :home_airport %><br>
			    <%= f.text_field :home_airport %>
			    <div class="results" id="airport-search-results"></div>
			  </div>
			</div>
			<div id="member_lebal" class="member_form_section">
			  <div class="field">
			    <%= f.label :residency %><br>
			    <%= f.text_field :residency_id, 
			    	value: (@member.residency.name unless @member.residency == nil) %>
			    <div class="results" id="residency-search-results"></div>
			  </div>
			  <div class="field">
			    <%= f.label :citizenship %><br>
			    <%= f.text_field :citizenship_id, 
			    	value: (@member.citizenship.name unless @member.citizenship == nil) %>
			    <div class="results" id="citizenship-search-results"></div>
			  </div>
			  <div class="field">
			    <%= f.label :medical_conditions %><br>
			    <%= f.text_area :medical_conditions %>
			  </div>
			  <div class="field">
			    <%= f.label :criminal_convictions %><br>
			    <%= f.text_area :criminal_convictions %>
			  </div>
			</div>
		</div>
		<div id="member_form_foot" class="member_form_section form_group">
		  <div class="field">
		    <%= f.label :employee_number %><br>
		    <%= f.number_field :employee_number %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Save changes", class: "save_button" %>
		  </div>
		</div>
<script>
  $(function() {
    new app.Countries;
    new app.StateProv;
    new app.Airport;
    new app.Residency;
    new app.Citizenship;
  });
  $("#member_main_phone").mask("(999) 999-9999");
  $("#member_main_mobile").mask("(999) 999-9999");
</script>
<% end %>
