
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>OMRS: Operations Management Reporting and Scheduling</title>
		<meta name="description" content="The software for managing entertainment staffing" />
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="../favicon.ico">
		<!-- Bootstrap -->
		<script src="/js/modernizr.custom.js"></script>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/jquery.fancybox.css" rel="stylesheet">
		<link href="/css/flickity.css" rel="stylesheet" >
		<link href="/css/animate.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="/css/styles.css" rel="stylesheet">
		<link href="/css/queries.css" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	<style>
	#cdawrap {
		top: 538px!important;
		position: absolute !important;
		background: none !important;
		border: 1px solid rgba(255,255,255,0.5) !important;
	}
	#cdawrap .carbon-text {
		color: #fff !important;
	}
	</style>
	</head>
	<body>
		<a name="login"/>
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
							<a href="#" class="logo-link"><img src="/img/proshiplogo.png" alt="Proship Logo" width="130px"></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
							<p>LOGIN</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#login"><span></span></a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Operations Management Reporting and Scheduling.</h1>
							<a id="trigger-login-overlay"  class="use-btn animated fadeInUp" href="#features">Features</a> <a href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
						</div>
					</div>
				</div>
			</section>
		</header>
		<a name="about">
		<section class="features-intro">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
							<div class="features-img wp1">
								<img href="/img/02-screenshot.PNG" width="922px"/>
							</div>
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
								<ul class="slides" id="featuresSlider">
									<li>
										<h1>Built by the top entertainment staffing agency </h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<p><a href="#features" class="arrow-btn">Find out more about OMRS 7.0! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
									<li>
										<h1>Manage your relationships with candidates</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<p><a href="#" class="arrow-btn">Find out more about OMRS 7.0! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
									<li>
										<h1>Connect with agencies</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<p><a href="#" class="arrow-btn">Find out more about OMRS 7.0! <i class="fa fa-long-arrow-right"></i></a></p>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="features-list" id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-desktop"></i>
							</div>
							<div class="feature-content">
								<h1>Track candidates, bands, clients and relationships. </h1>
								<p></p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-flash"></i>
							</div>
							<div class="feature-content">
								<h1>Advanced searching</h1>
								<p>Terrific for matching the right candidate to the right opening.</p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-heart"></i>
							</div>
							<div class="feature-content">
								<h1>New features for OMRS 7.0</h1>
								<p>New responsive, cleaner design.  Improved searching.  . </p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h1 class="footer-logo">
						<img src="/img/logo-blue.png" alt="Footer Logo Blue">
						</h1>
						<p>OMRS from <em>ProSHIP Entertainment</em></a></p>
					</div>
					<div class="col-md-7">
						<ul class="footer-nav">
							<li><a href="#about">About</a></li>
							<li><a href="#features">Features</a></li>
							<li><a href="#screenshots">Screenshots</a></li>
							<li><a id="#" class="" href="#" onclick="$('#trigger-overlay').click();">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<div class="overlay overlay-boxify">
			<nav>
				<div id="login-form">
					<div class="login_title">Login</div>
					<%= form_for(@member, url: {action: "login"}, html: {name: "login_form"}) do |f| %>
					  <div class="field">
					    <%= f.label :email %>
					    <%= f.text_field :email %>
					  </div>
					  <div class="field">
					    <%= f.label :password %>
					    <%= f.password_field :password %>
					  </div>
					  <div class="field">
						<%= f.submit "Login", class: "login" %>
					  </div>
					<% end %>
				</div>
				<div id="register-form">
					<div class="login_title">Register</div>
					<%= form_for(@member, url: {action: "register"}, html: {name: "register_form"}) do |f| %>
					  <div class="field">
					    <%= f.label :email %>
					    <%= f.text_field :email %>
					  </div>
					  <div class="field">
					    <%= f.label :password %>
					    <%= f.password_field :password %>
					  </div>
					  <div class="field">
					    <%= f.label :password_confirmation %>
					    <%= f.password_field :password_confirmation %>
					  </div>
					  <div class="field">
						<%= f.submit "Register", class: "login" %>
					  </div>
					<% end %>
				</div>
				<div id="login-errors">test text of errors</div>
			</nav>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/js/toucheffects-min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/js/flickity.pkgd.min.js"></script>
		<script src="/js/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/js/waypoints.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/scripts-min.js"></script>
	</body>
	<script>
		$(document).ready(function(){
			$(".login").click(function(e) {
			    e.preventDefault();	
			    var loginform = $(this).closest("form");
			    if (loginform.attr("name") == "register_form") {
					var e = $("#register-form #member_email");
				    var p = $("#register-form #member_password");
				    var pc = $("#register-form #member_password_confirmation");
			    } else {
					var e = $("#login-form #member_email");
				    var p = $("#login-form #member_password");
				    var pc = $("#login-form #member_password");
			    }
			    $("#login-errors").text("");
				$("#login-errors").hide();
				$("input").removeClass("highlight");		
			    if (e.val() == "") {
			    	$("#login-errors").append("The email field is empty.<br />");
			    	e.addClass("highlight");
			    }
			    if (p.val() == "") {
			    	$("#login-errors").append("The password field is empty.<br />");
			    	p.addClass("highlight");
			    }
			    if ( $("#login-errors").text() != "" ) {
					$("#login-errors").show("slow", "swing");			
			    	return false;
			    }
			    if (pc.val() == "") {
			    	$("#login-errors").append("The password confirmation field is empty.<br />");
			    	pc.addClass("highlight");
			    }
			    if ( p.val() != pc.val() ) {
			    	$("#login-errors").append("The password fields don't match.<br />");
			    	p.addClass("highlight");
			    	pc.addClass("highlight");
			    }
			    if ( $("#login-errors").text() != "" ) {
					$("#login-errors").show("slow", "swing");			
			    	return false;
			    }
			    var url = loginform.attr("action");
				var method = loginform.attr("method");
			    $.ajax({
		           type: method,
		           url: url,
		           dataType : 'JSON',
		           data: loginform.serialize(), 
		           success: function(data) {
		           		window.location.replace(data["url"]);
					},
		           error: login_error
		         });
			});
		});
		function login_error(data) {
			var jdata = JSON.parse(data.responseText);
			var errorMsg = "";
			$.each( jdata, function( key, value ) {
			    errorMsg += key + " " + value.toString() +"\n";
			});
			$("#login-errors").text(errorMsg);			
			$("#login-errors").show("slow", "swing");			
		}
		function registration_error(data) {
			
		}
	</script>
</html>
