<% if notice%><p id="notice"><%= notice %></p><% end %>

          <div id="list_members" class="body_column one_hundred">
            <div class="column_header">Listing Members</div>
            <div class="body_column_content">
            	
<table>
  <thead>
    <tr>
      <th>Employee number</th>
      <th>First name</th>
      <th>Last name</th>
      <th>City</th>
      <th>Country</th>
      <th>Home airport</th>
      <th>Residency</th>
      <th>Citizenship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.employee_number %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.city %></td>
        <td><%= member.country %></td>
        <td><%= member.home_airport %></td>
        <td><%= member.residency %></td>
        <td><%= member.citizenship %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>

            </div>
          </div>

