<% if notice%><p id="notice"><%= notice %></p><% end %>

<%= render "candidate_profile" %>
<div id="profile_row_one">
<%= render "essentials" %>
<%= render "notes" %>
</div>
<%= render "availability" %>
<%= render "history" %>

